{% for item in items %}
    {% if item.url %}
        <a href="{{ item.url }}">{{ item.label }}</a>
    {% else %}
        {{ item.label }}
    {% endif %}
    {% if not loop.last %}{{ separator }}{% endif %}
{% endfor %}
