{% for item in items %}
    {% if item.url %}
        <a href="{{ item.route }}">{{ item.label }}</a>
    {% else %}
        {{ item.label }}
    {% endif %}
    {% if not loop.last %}{{ ' / ' }}{% endif %}
{% endfor %}
